<nz-layout>
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
		<div class="logo"></div>
		<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
			<li nz-submenu nzTitle="User" nzIcon="user">
				<ul>
					<li nz-menu-item [routerLink]="['/welcome']">List</li>
				</ul>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
				(click)="isCollapsed = !isCollapsed"></i>
			<div class="user-name-text">
				<nz-avatar nzSize="small" nzIcon="user"
					[nzSrc]="imgSrc"></nz-avatar>
				<a nz-dropdown [nzDropdownMenu]="menu">
					{{ userInfo['name'] }}
					<i nz-icon nzType="down"></i>
				</a>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu nzSelectable>
						<li nz-menu-item (click)="logout();">Logout</li>
						<li nz-menu-item [routerLink]="['/welcome/view', userInfo['id']]">My Profile</li>
					</ul>
				</nz-dropdown-menu>
			</div>
		</nz-header>
		<nz-content>
			<nz-breadcrumb>
				<nz-breadcrumb-item>List</nz-breadcrumb-item>
			</nz-breadcrumb>
			<div class="inner-content">
				<router-outlet></router-outlet>
			</div>
		</nz-content>
		<nz-footer>Footer</nz-footer>
	</nz-layout>
</nz-layout>