<nz-descriptions nzTitle="User Info">
	<nz-descriptions-item nzTitle="ID"> {{ userDetails['id'] }} </nz-descriptions-item>
	<nz-descriptions-item nzTitle="Name"> {{ userDetails['name'] }} </nz-descriptions-item>
	<nz-descriptions-item nzTitle="Email"> {{ userDetails['email'] }} </nz-descriptions-item>
	<nz-descriptions-item nzTitle="Password"> {{ userDetails['password'] }} </nz-descriptions-item>

	<nz-descriptions-item nzTitle="Photos">
		<div class="clearfix">
			<nz-upload nzAction="" nzListType="picture-card"
				[(nzFileList)]="fileList" [nzShowButton]="fileList.length < 3" [nzShowUploadList]="showUploadList"
				[nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)" [nzPreview]="handlePreview"
				[nzRemove]="nzRemove">
				<i nz-icon nzType="plus"></i>
				<div class="ant-upload-text">Upload</div>
			</nz-upload>
			<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
				(nzOnCancel)="previewVisible = false">
				<ng-template #modalContent>
					<img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
				</ng-template>
			</nz-modal>
		</div>
	</nz-descriptions-item>
</nz-descriptions>