.login-container{
    max-width: 300px;
    margin: auto;
    flex-flow: column;
    height: 100vh;
    .login-form {
      max-width: 300px;
      .login-form-forgot {
        float: right;
      }
      .login-form-button {
        width: 100%;
      }
    }
  }
  